html {
  font-size: 18px;
  background-color: red;
}

.banner {
  background-color: black;
  display: flex;
  text-align: left;
  color: white;
}

.title {
  font-family: Helvetica;
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.logo img {
  height: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 1rem;
}
